/* Body ------------------------------------------------------------ */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Layout --------------------------------------------------------- */

#top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#main {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#top > #auxbar {
    position: relative;
    background-color: #F1F1F1;
    padding: 1em 0;
}

/* Ads ----------------------------------------------------------- */

#auxbar .ads {
    margin: 0;
    text-align: center;
}

#auxbar .ads > * {
    margin: 0.5em;
}

/* Control Panel ------------------------------------------------- */

form#pdf-upload {
    margin-right: 0.5em;
    text-align: center;
}

form#pdf-upload label {
    display: none;
}

form#pdf-upload input[type=file] {
    font-size: 1.1em;
    margin: 5px 0;
    color: #FFF;
    padding: 0;
    width: 160px;
    overflow: hidden;
}

/* Main Preview Panel -------------------------------------------- */

#main > .pane {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    height: 100%;
}

#main > .pane .placeholder {
    display: block;
    margin: 25% 0 0 25%;
    width: 50%;
    text-align: center;
    position: relative;
    background-color: #FFF;
    border: 4px solid #111;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 2em 0;

}

#left.pane {
    background-color: #C1C1C1;
}

#right.pane {
    background-color: #FFF;
}

#left.pane .placeholder {
    background-color: #FFF;
    border-color: #FFF;
}

#right.pane .placeholder {
    background-color: #C1C1C1;
    border-color: #C1C1C1;
}

#left.pane > iframe {
    width: 100%;
    height: 100%;
}

#right.pane > textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
}

/* Widgets ------------------------------------------------------- */

.dummyad {
    width: 125px;
    height: 125px;
    float: right;
    margin: 0 0.5em;
}

.dummyad > img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}